# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# C extensions
*.so

# Environments
.env
.env.bak
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

poetry.lock
__pycache__/
